<div class="row" style="padding-top: 180px;">
    <div class="col-12" style="background: #cab87c; height: 250px;">
        <div class="row" style="margin-top: 60px;">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    Tutorial
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    parte 1
                                </li>
                                <li>
                                    parte 2
                                </li>
                                <li>parte 3

                                </li>
                                <li>
                                    parte 4
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    Videos
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div>
                                <ul>
                                    <li>
                                        opcion 1
                                    </li>
                                    <li>
                                        opcion 2
                                    </li>
                                    <li>
                                        opcion 3
                                    </li>
                                    <li>
                                        opcion 4
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    Consejos
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    vivienda
                                </li>
                                <li>
                                    salud
                                </li>
                                <li>
                                    prevencion
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    pendientes
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    meses
                                </li>
                                <li>
                                    dias
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    Recomendaciones
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    heridas
                                </li>
                                <li>
                                    covid 19
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <ul>
                                <li style="color:darkgoldenrod;">
                                    Dependencias
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    Versión 1
                                </li>
                                <li>
                                    Versión 2
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <div class="row">
        <div class="col-12" style="background: #cab87c; height: 38px;">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                  Versión de prueba
            </div>
            <!-- Copyright -->
        </div>
    </div>
</div>